body{
    background-image: url("giphy.gif");
    background-repeat:repeat;
    justify-content: center;
    display: flex;
}
#window{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:962px;
    height:526px;
}
#webpage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
